# Medii virtuale (NU se urca pe GitHub)
.venv/
venv/
wsl_env/
env/

# Fisiere de date prea mari
#*.csv
#*.csv.gz

# Modele antrenate si vectori Pytorch
*.pth
*.pt

!mimic_cnn_model_best_1.pth
!best_cxr_bert_model_3.pth
!best_end2end_frozen.pth
!best_fusion_mlp_offline.pth

# Setari de sistem si IDE
.idea/
__pycache__/
*.pyc